<article class="portfolio noteRead">
    
    <div class="navTitle"><span ng-show="!loading"><a href="#company/{{company.companyId}}/{{company.companyKind}}">{{company.companyName}}</a> &raquo; </span> Notes</div>

    <div class="loading" ng-show="loading"></div>

    <div class="errorMessage" ng-if="notes.length == 0 && !loading">
        There are no notes for this company.
    </div>         

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="note in notes">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseBox-{{note.id}}" aria-expanded="true" aria-controls="collapseOne">
                <span class="light red" ng-if="note.traffic == 1"></span>
                <span class="light yellow" ng-if="note.traffic == 2"></span> 
                <span class="light green" ng-if="note.traffic == 3"></span>               
                <strong>{{note.subject}}</strong>
                <span class="author"> / {{note.firstname}} {{note.surname}}</span>
                <span class="date"> / {{unixDate(note.date) | date : 'd.M.yyyy, H:mm'}}</span>
            </a>
          </h4>
        </div>
        <div id="collapseBox-{{note.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{note.text}}
          </div>
        </div>
      </div>
    </div>
    
    <div class="btnAddNoteCenter">
        <a class="btn btn-primary" href="#add-note/{{company.companyId}}/{{company.companyKind}}" ng-show="!loading">Add note</a>
    </div>

</article>
